body {
    background-color: #f0f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content {
    width: 85%;
    margin-left: 10px;
}

.menu {
    width: 15%;
    background-color: #1d3477;
    color: white;
}

.nav-list > li {
    margin-bottom: 10px;
    padding-top: 10px;
}

.nav-list > li:hover {
    background-color: #2947a0;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    border:1px solid white;
}

.lists {
    border-bottom: 1px solid rgb(182, 182, 182);
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

img {
    margin: auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.content-list {
    background-color: white;
}

.checkbox-line {
    align-items: center;
    margin: 50px;
}

.newtask-btn {
    background-color: lightblue;
    border: 0;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}

.noname-btn {
    background-color: grey;
    border: 0;
    border-radius: 2px;
    height: 35px;
    width: 36px;
    cursor: pointer;
}

.noname-btn-2 {
    background-color: grey;
    border: 0;
    height: 35px;
    width: 36px;
    margin-left: -9px;
    border-left: 1px solid black;
    cursor: pointer;
}

.noname-btn-3 {
    background-color: grey;
    border: 0;
    border-radius: 2px;
    height: 35px;
    width: 36px;
    margin-left: -9px;
    border-left: 1px solid black;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.inprogress-btn {
    border: 0;
    border-radius: 5px;
    background-color: orange;
    padding: 4px;
    width: 90px;
}

.done-btn {
    border: 0;
    border-radius: 5px;
    background-color: green;
    padding: 4px;
    width: 60px;
}

.waiting-btn {
    border: 0;
    border-radius: 5px;
    background-color: purple;
    padding: 4px;
    width: 70px;
}

.waiting-btn > a {
    color: white;
}

.done-btn > a {
    color: white;
}

.inprogress-btn > a {
    color: white;
}